/* 通用css */
.el-container{
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    perspective: 1200px;
    padding: 0;
}

.threeDTran{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    display: none;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    padding: 0 3%;
}

.top{
    z-index: 10;
    display: inline;
}

i{
    position: absolute;
    font-size: 32px;
    color: #333;
}

.el-icon-s-fold:hover{
    color: #009688;
    opacity: 0.5;
}

.el-icon-s-unfold{
    color: #ccc;
}

.el-icon-s-unfold:hover{
    color: #ffb800;
    opacity: 2;
}

[v-cloak]{
    display: none;
}
/* 背景 */
#light{
    width: 100%;
    height: 100%;
}

#light .background{
    height: 100%;
    width: calc(6% - 2px);
    margin-left: 2%;
    border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
    float: left;
}

#light .background:nth-child(1)
{
    margin-left: 0;
}

#dark{
    top:0;
    right: 0;
    width: 0;
    height: 100%;
    transition:width .5s;
    background-color: #222;
    z-index: 2;
    position: absolute;
    perspective:2000px;
    -webkit-perspective: 2000px;
}

#dark .background{
    height: 100%;
    width: calc(6% - 2px);
    margin-left: 2%;
    border-left: 1px solid #555;
    border-right: 1px solid #555;
    float: left;
}

#dark .background:nth-child(1){
    margin-left: 3%;
}

/* 页面切换动画类 */
.rotateCubeTopOut {
    z-index: 10;
    display: inline;
    transform-origin: 50% 100%;
    animation: rotateCubeTopOut .6s both ease-in;
}

.rotateCubeTopIn {
    z-index: 10;
    display: inline;
    transform-origin: 50% 0;
    animation: rotateCubeTopIn .6s both ease-in;
}

.rotateCubeBottomOut {
    z-index: 10;
    display: inline;
    transform-origin: 50% 0;
    animation: rotateCubeBottomOut .6s both ease-in;
}

.rotateCubeBottomIn {
    z-index: 10;
    display: inline;
    transform-origin: 50% 100%;
    animation: rotateCubeBottomIn .6s both ease-in;
}

@keyframes
rotateCubeTopOut {
    50% {
        animation-timing-function: ease-out;
        transform: translateY(-50%) translateZ(-200px) rotateX(45deg);
    }
    100% {
        opacity: 0;
        transform: translateY(-100%) rotateX(90deg);
    }
}

@keyframes
rotateCubeTopIn {
    0% {
        opacity: 0;
        transform: translateY(100%) rotateX(-90deg);
    }
    50% {
        animation-timing-function: ease-out;
        transform: translateY(50%) translateZ(-200px) rotateX(-45deg);
    }
}

@keyframes
rotateCubeBottomOut {
    50% {
        animation-timing-function: ease-out;
        transform: translateY(50%) translateZ(-200px) rotateX(-45deg);
    }
    100% {
        opacity: 0;
        transform: translateY(100%) rotateX(-90deg);
    }
}

@keyframes
rotateCubeBottomIn {
    0% {
        opacity: 0;
        transform: translateY(-100%) rotateX(90deg);
    }
    50% {
        animation-timing-function: ease-out;
        transform: translateY(-50%) translateZ(-200px) rotateX(45deg);
    }
}

/* 鼠标样式 */
.cursor{
    position: absolute;
    width: 10px;
    height: 10px;
    border: 5px solid grey;
    transform: translate3d(-50%, -50%, 0) scale(1);
    transition: 0.3s cubic-bezier(0.91, 0.03, 0.12, 1) transform, 0.3s cubic-bezier(0.91, 0.03, 0.12, 1) border;
    user-select: none;
    pointer-events: none;
    z-index: 99;
    border-radius: 100%;
    box-sizing: border-box;
    transform-origin: center center;
}

.cursor.active{
    border: 1px solid grey;
    transform: translate3d(-50%, -50%, 0) scale(2);
}

.interaction{
    cursor:none !important;
}

/* 头像 */
.headPic{
    top:5%;
    width: calc(5.8% - 2px);
    height: 0;
    padding-bottom: calc(5.8% - 2px);
    border-radius: 50%;
    background:#000 url("/img/headPic.jpg") no-repeat center;
    background-size: 100% 100%;
    position: absolute;
}

.facade{
    display: none;
    top:80%;
    left: 14%;
    font-size: 10vh;
    width: 60%;
    position: absolute;
    font-weight: bold;
    color: #9d9d9d;
    line-height: 11vh;
}

.dark-facade{
    top:30%;
    left: 11%;
    font-size: 9.5vh;
    width: 60%;
    position: absolute;
    font-weight: bold;
    color: #9d9d9d;
    line-height: 11vh;
    border: 1px #9d9d9d solid;
    padding: 6vh 8vh 14vh 10vh;
    transition: transform .5s;
    -webkit-transition: transform .5s;
    transform-origin: left center;
    -webkit-transform-origin: left center;
}

.dark__interaction{
    border: 1px #9d9d9d solid;
    height: 58%;
    transition: transform .5s;
    -webkit-transition: transform .5s;
    transform-origin: left center;
    -webkit-transform-origin: left center;
}

.dark__interaction:hover{
    transform: rotateY(20deg);
    -webkit-transform: rotateY(20deg); /* Safari and Chrome */
}

.dark-facade:hover{
    transform: rotateY(10deg);
    -webkit-transform: rotateY(10deg); /* Safari and Chrome */
}

.facade.active{
    display: inline;
    -webkit-animation: facademove 1s forwards;
    animation: facademove 1s forwards;
}

@keyframes
facademove {
    100%{ top: 35%; }
}

.top-name{
    position: absolute;
    font-size: 2.5vh;
    top: 9%;
    left: 10%;
    color: #000;
}

/* nav */
nav{
    position: absolute;
    top: 25%;
    left: 12%;
    width: 60%;
}

nav dd{
    float: left;
    width: 15%;
    margin-left: 10%;
    display: none;
    font-size: 1.5vh;
    font-weight: bolder;
    color: #adadad;
    border-bottom: #adadad 2px solid;
}

.ddModal{
    width: 0;
    height: 100%;
    border-bottom: 2px #adadad solid;
    padding-bottom: 5px;
    margin-bottom: -2px;
    transition:color 1s,width 1s,border-bottom-color 1s;
    -webkit-transition:color 1s,width 1s,border-bottom-color 1s; /* Safari */
}

nav dd:nth-child(1) .ddModal{
    animation: navDDShow .8s linear forwards;
}

@keyframes
navDDShow{
    100%{
        color: #000;
        width: 50%;
        border-bottom-color: #000;
    }
}

nav dd:hover .ddModal{
    width: 50%;
    color: #000;
    border-bottom-color: #000;
}

/* dark-nav */
.dark-nav{
    position: absolute;
    top: 20%;
    left: 12%;
    width: 60%;
}

.dark-nav dd:nth-child(1) .ddModal{
    animation: none !important;
}

.dark-nav .ddModal.active{
    width: 50%;
    color: #ffb800 !important;
    border-bottom-color: #ffb800 !important;
}

/* scrollTip */
.scrollTip{
    position: absolute;
    top:90%;
    left: 12%;
    font-size: 1.8vh;
    line-height: 28px;
    color: #555;
}

.scrollBox{
    width: 15px;
    height: 28px;
    border: #888 2px solid;
    border-radius: 10px;
    float: left;
    margin-right: 10px;
}

.scrollBox span{
    position: relative;
    border: #999 1px solid;
    left: 50%;
    display: inline-block;
    height: 5px;
    margin-left: -1px;
    animation: scrollUpDown .8s infinite alternate linear;
}

@keyframes
scrollUpDown{
    0%{
        top:-20%
    }
    100%{
        top:12%
    }
}

/* dark-content */
.dark-content{
    display: none;
}

#darkContent1.dark-content{
    display: inline;
 }

.dark-content-inner{
    top: 30%;
    left: 11%;
    width: 68%;
    height: 100%;
    position: absolute;
    perspective:2000px;
    -webkit-perspective: 2000px;
}

/*#darkContent3 .dark__interaction{*/
/*    border: none;*/
/*}*/

#darkContent3 .div4,
#darkContent3 .div3,
#darkContent3 .div2,
#darkContent3 .div1{
    width: 100%;
    height:0;
    transition: height .3s;
    position: absolute;
    bottom: 0;
}

#darkContent3 .div1{background-color: #30A9DE}
#darkContent3 .div2{background-color: #009688}
#darkContent3 .div3{background-color: #A593E0}
#darkContent3 .div4{background-color: #f1404b}
