<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
    <!-- 自己的css -->
    <link rel="stylesheet" href="vue/element-ui.css">
    <link rel="stylesheet" href="css/index.css">

</head>
<body style="cursor: none !important;overflow: hidden;">
<el-container id="app" style="height: 100%;">
    <!-- 首页 -->
    <div :class="classList1" v-mwheel="'d1'">
        <div id="light">
            <!-- light背景 -->
            <div class="background" v-for="i in 12"></div>
            <!-- 切换按钮  -->
            <i class="el-icon-s-fold interaction" style="right: 10%;top:10%;"></i>
            
        </div>
        <div id="dark">
            <!-- dark背景 -->
            <div class="background" v-for="i in 12"></div>
            <!-- 切换按钮 -->
            <i class="el-icon-s-unfold interaction" style="right: 10%;top:10%;"></i>

        </div>
    </div>
    <!--  -->
    <div :class="classList2" style="background-color: #ffb800;" v-mwheel="'d2'">

    </div>
    <!--  -->
    <div :class="classList3" style="background-color: #67ccf4;" v-mwheel="'d3'">

    </div>
    <!--  -->
    <div :class="classList4" style="background-color: #d9534f;" v-mwheel="'d4'">

    </div>
    <!-- 鼠标样式 -->
    <div class="cursor"></div>
</el-container>

<script src="js/modernizr-3.11.2.min.js"></script>
<!-- 自己的js -->
<script src="vue/vue.js"></script>
<script src="vue/element-ui.js"></script>
<script src="vue/axios.min.js"></script>
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/index.js"></script>
</body>
</html>
